
<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <link rel="icon" href="images/shiba-logo.png">
        <link href="{%static 'index.css'%}" rel="stylesheet" type="text/css" media="all"/>
        <title>StockEazy</title>
    </head>
    <body>
        <div class="container">
            
            <nav class="bx navbar">
                <div class="header-logo">
                    <a href="">StockEazy</a>
                </div>
                <div class="header-link">
                    {%if user.is_authenticated%}
                    <a href="{%url 'logins'%}">Welcome {{user.username}}</a>
                    <a href="/logins/logout">signout</a>
                    {%else%}
                    <a href="{%url 'logins'%}">Login</a>
                    <a href="/logins/register">Signup</a>
                    {%endif%}                    
                </div>
            </nav>
            
            <div class="bx hero">
                <div class="hero-1 hero-cta">
                    <h1>Manage your stocks Eazzily</h1>
                    <p>Your Personal stock management platform
                    </p>
                </div>
            </div>

            <div class="bx content">
                <div class="content-info">
                    <div>
                        <img src="https://qph.fs.quoracdn.net/main-qimg-ef585690e769817c0828deeaabcd6b23-lq">
                        <p>Buy and sell</p>
                    </div>
                    <div>
                        <img src="https://blog.tryshiftcdn.com/uploads/2021/01/notifications@2x.jpg">
                        <p>Continous notifcation</p>
                    </div>
                    <div>
                        <img src="https://miro.medium.com/max/1200/1*rTZvrFD258ZZwvGy7nyqDw.jpeg">
                        <p>Recomentaion</p>
                    </div>
                    <div>
                        <img src="https://media.springernature.com/w300/springer-static/image/art%3A10.1038%2F538308a/MediaObjects/41586_2016_Article_BF538308a_Figb_HTML.jpg" >
                        <p>Prediction</p>
                    </div>
                </div>
            </div>
           
        </div>
    </body>
</html>
